#mainBody{
    display: flex;
    width: 80%;
    margin: 5vh auto;
    justify-content: space-between;
}
#mainBody>div{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

#mainBody img{
    width: 60%;
}

#mainBody>div>a{
    text-decoration: none;
    color: #a00606;
}