/* top section */

/* top left section */

.img_div{
    overflow: hidden;
}

.img_div>img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.img_div>img:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#topSec {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

#tl {
    display: flex;
    justify-content: space-between;
}

#tl>div:first-of-type {
    width: 65%;
    border: 1px solid rgb(209, 209, 209);
    padding: 7px;
}

#tl>div:first-of-type h1 {
    margin-bottom: 10px;
}

#tl img {
    width: 100%;
}

#tl>div:first-of-type h1:hover,
#tl>div:first-of-type h3:hover {
    color: #1B5193;
    cursor: pointer;
}

#tl>div:first-of-type>div:last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#tl>div:last-of-type {
    width: 30%;
    border: 1px solid rgb(209, 209, 209);
    padding: 7px;
    height: 600px;
}

/* scroll bar edit */
#tl>div:last-of-type ::-webkit-scrollbar {
    width: 7px;
}

#tl>div:last-of-type ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#tl>div:last-of-type ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

#tl>div:last-of-type ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#tl>div:last-of-type>div {
    overflow: scroll;
    height: 96%;
}

#tl>div:last-of-type>div>h3 {
    padding: 7px;
    border-bottom: 1px solid rgb(209, 209, 209);
    font-size: 15px;
    font-weight: 100;
}

.impFeature {
    color: #1B5193;
    font-size: 9px;
    margin-bottom: 5px;
}

#tl>div:last-of-type>div>h3:hover {
    background-color: rgb(248, 248, 248);
    color: #1B5193;
    cursor: pointer;
}

/* top right section */

#tr {
    width: 90%;
    margin-top: 20px;
}

#tr>div {
    margin-top: 20px;
}

.carousel-cell {
    width: 70%;
    height: 250px;
    margin-right: 10px;
    border: 1px solid rgb(209, 209, 209);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    justify-content: space-around;
    padding: 20px;
}

.carousel-cell>img {
    border-radius: 50%;
    width: 30%;
    border: 5px yellow solid;
}

.carousel-cell>p {
    font-style: italic;
}

.carousel-cell>h4 {
    width: 100%;
}

.carousel-cell:hover {
    cursor: default;
}

.carousel-cell:hover>h4 {
    color: #1B5193;
}

.carousel-cell>h4:hover {
    cursor: pointer;
}

.main-carousel1 .flickity-button {
    background: #333;
}

.main-carousel1 .flickity-button:hover {
    background: #a00606;
}

.main-carousel1 .flickity-prev-next-button {
    width: 20px;
    height: 20px;
}

/* icon color */
.main-carousel1 .flickity-button-icon {
    fill: white;
}

/* position outside */
.main-carousel1 .flickity-prev-next-button.previous {
    top: -30px;
    left: 83%;
}

.main-carousel1 .flickity-prev-next-button.next {
    top: -30px;
    left: 93%;
}

/* bottom left section */

#bl>h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.main-carousel2 {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding: 20px;
}

.carousel-cell2 {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 15px;
    align-items: center;
    height: 280px;
}

.carousel-cell2 h3 {
    font-size: 15px;
    padding: 5px;
}

.carousel-cell2 img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

#bl .flickity-button {
    border: white 1px solid;
    background-color: #999999;
}

#bl .flickity-prev-next-button {
    width: 30px;
    height: 30px;
    position: absolute;
}

#bl .flickity-button-icon {
    fill: white;
}

#bl .flickity-button:disabled {
    display: none;
}

#bl .flickity-prev-next-button.previous {
    left: -20px;
}

#bl .flickity-prev-next-button.next {
    right: -20px;
}

/* bottom right section */

#br>h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}

#br img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
}

.main-carousel3 {
    padding: 20px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
}

.carousel-cell3 {
    width: 70%;
    margin-right: 20px;
}

.main-carousel3 .flickity-button {
    background: #333;
}

.main-carousel3 .flickity-button:hover {
    background: #a00606;
}

.main-carousel3 .flickity-prev-next-button {
    width: 20px;
    height: 20px;
}

/* icon color */
.main-carousel3 .flickity-button-icon {
    fill: white;
}

/* position outside */
.main-carousel3 .flickity-prev-next-button.previous {
    top: -30px;
    left: 83%;
}

.main-carousel3 .flickity-prev-next-button.next {
    top: -30px;
    left: 93%;
}

/* top section end */

/* mid section */

/* mid1 section */
#midSec {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

#mid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

#mid1 img {
    width: 100%;
}

.mid1box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bullet {
    font-size: 25px;
    color: #a00606;
}

.links {
    color: #2b62a7;
    font-size: 11px;
    text-align: right;
    font-weight: bold;
}

.links:hover {
    cursor: pointer;
}

.mid1box>p:first-of-type,
.mid1box>p:nth-of-type(2) {
    border-top: 1px solid rgb(200, 200, 200);
    padding-top: 10px;
}

/* mid2 section*/

#mid2 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}

#magazine {
    background-color: #f3f3f3;
    padding: 20px;
}

#magazine>h3 {
    margin-bottom: 10px;
    margin-top: -5px;
}

#magazine>div {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 15px;
}

#magazine>div>div {
    display: flex;
    gap: 15px;
}

#magazine>div>div>h3 {
    font-size: 15px;
    font-weight: 600;
}

#photos {
    background-color: #f3f3f3;
    padding: 15px;
}

.carousel-cell4 {
    width: 85%;
    color: white;
    background-color: black;
    height: 450px;
}

.carousel-cell4>img {
    width: 100%;
    cursor: pointer;
}

.carousel-cell4>h3 {
    font-size: 18px;
    font-weight: 100;
    padding: 10px;
}

.carousel-cell4>h3:hover {
    color: rgb(192, 192, 192);
    cursor: pointer;
}

#photos:hover .flickity-prev-next-button.previous,
#photos:hover .flickity-prev-next-button.next {
    background-color: rgba(103, 170, 239, 0.2);
}

#photos .flickity-prev-next-button.previous:hover,
#photos .flickity-prev-next-button.next:hover {
    background-color: #67aaef;
}

.main-carousel4 .flickity-prev-next-button.previous {
    left: 79%;
    border-radius: 0px;
    background-color: #67aaef;
}

.main-carousel4 .flickity-prev-next-button.next {
    right: 9%;
    border-radius: 0px;
    background-color: #67aaef;
    transition: 0.2s all ease;
}

.main-carousel4 .flickity-button-icon {
    fill: white;
}

#anchors {
    background-color: #f3f3f3;
    padding: 15px;
    height: 160px;
}

#mid2>div>h3 {
    margin-bottom: 10px;
}

.carousel-cell5 {
    width: 25%;
    margin-right: 20px;
    text-align: center;
}

.carousel-cell5>img {
    width: 100%;
}

.main-carousel5 .flickity-prev-next-button.previous {
    top: -25px;
    left: 80%;
    width: 20px;
    height: 20px;
    background-color: #a00606;
    color: white;
}

.main-carousel5 .flickity-prev-next-button.next {
    top: -25px;
    left: 90%;
    width: 20px;
    height: 20px;
    background-color: #a00606;
    color: white;
}

/* mid 3 section */

#mid3 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

#mid3 img {
    width: 100%;
}

.mid3box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mid3box>p:first-of-type,
.mid3box>p:nth-of-type(2) {
    border-top: 1px solid rgb(200, 200, 200);
    padding-top: 10px;
}

.mid3box>h3:nth-child(3):hover,
.mid3box>p:nth-child(4):hover,
.mid3box>p:nth-child(5):hover,
.mid1box>h3:nth-child(3):hover,
.mid1box>p:nth-child(4):hover,
.mid1box>p:nth-child(5):hover {
    color: #1B5193;
    cursor: pointer;
}

/* mid section ends */

/* low section */

#lowSec {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    gap: 30px;
    margin-top: 40px;
}

#lowSec img {
    width: 30%;
    height: 100%;
}

#lowSec h4 {
    font-size: 15px;
    font-weight: 600;
}

#lowSec>div>div {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(209, 209, 209);
    border-top: 0px;
}

#lowSec>div>div>div {
    display: flex;
    border-top: 1px solid rgb(209, 209, 209);
    gap: 10px;
    justify-content: space-between;
    padding: 15px;
    padding-top: 20px;
}

#lowSec>div:last-child>div>h4{
    padding: 15px;
    border-top: 1px solid rgb(209, 209, 209);
}

#lowSec h4:hover{
    color: #1B5193;
    cursor: pointer;
}