#main_container {
    border: 1px solid red;
    width: 80%;
    margin: auto;
    /* height: 500px; */
    
  }
  .p-first {
    height: 20px;
    color: #595959;
    font-family: OpenSans-Regular, serif;
    line-height: 20px;
    font-size: 15px;
  }
  .h_first {
    border-top: 0.5px solid rgba(128, 128, 128, 0.468);
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.468);
    border: 1px solid blue;
    font-family: 'Merriweather', serif;
    width: 770px;
    height: 46px;
    font-size: 18.5px;
    
  }
  .child_div {
    border: 0.5px solid rgba(128, 128, 128, 0.468);
    width: 368px;
    /* height: 400px; */
    margin-left: 65%;
    margin-top: -47px;
  }
  .child_div span {
    /* border: 1px solid red; */
    font-family: 'Open Sans', sans-serif;
    color: #BB0A0A;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    font-weight: bolder;
    height: 54px;
    width: 152px;
    padding: 20px 20px 10px 30px;
    position: relative;
    display: inline-block;
    z-index: 1;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-decoration: none solid rgb(234, 234, 234);
    text-align: left;
    text-indent: 0px;
  }
  .first_div {
    border: 0.5px solid rgba(128, 128, 128, 0.468);
    height: 123px;
  }
  .side_div {
    border: 0.5px solid rgba(186, 184, 184, 0.391);
    height: 82px;
  }
  
  .span>div:nth-child(2){
  background-color: rgba(128, 128, 128, 0.321);
    height: 7px;
    width: 60%;
    float: right;
    margin-top: -55px;
  }
  .news_div{
    border: 1px solid blue;
    width: 63%;
    height: 46px;

  }