*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#sidebar{
   display: grid;
   grid-template-columns: 70% 30%;
   gap: 0px;
 
} 
#mid{
    
    display: grid;
    width:100%;
    grid-template-columns: 33% 33% 33%  ;
    gap: 20px;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}
#mid>div{
   
    width: 250px;
    cursor: pointer;

    
}
#mid>div>img{
    width: 100%;
    height:300px;
}
#side{
    width:100%;
    height: 500px;
 
    border: 1px solid transparent;
   
}
#side>div{
    width: 100%;
    height: 130px;
    display: flex;
    cursor: pointer;
}
#side>div>img{
    width: 100px;
    height: 70px;
}

