* {
    font-family: sans-serif;
    margin: 0px;
}

#nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Tags universal*/
#nav>div>div,
#nav>div>div>div {
    display: flex;
    align-items: center;
}

#nav a {
    text-decoration: none;
}

/* anchor */
#nav>div:first-child a {
    color: grey;
}

#nav>div:nth-child(2) a {
    color: #575757;
}

#nav>div:last-of-type a {
    color: white;
}

#nav>div:last-of-type a:hover {
    color: yellow;
}

/* div tags inside navbar specific*/
#nav>div:first-child>div:last-of-type {
    border-bottom: 1px solid #d3d3d3;
}

#nav>div:first-child>div:first-child {
    display: flex;
    justify-content: space-between;
    width: 63%;
    font-size: 12px;
    padding: 8px 10%;
    font-weight: bold;
}

#nav>div:nth-child(2)>div {
    display: flex;
    font-size: 27px;
    justify-content: center;
    gap: 3%;
}

#nav>div:last-of-type {
    display: flex;
    font-size: 14px;
    background-color: #a00606;
    justify-content: space-between;
}

#nav>div:nth-child(3)>div:first-child {
    justify-content: space-between;
    padding: 0px 10%;
    width: 100%;
}

#nav>div:nth-child(3)>div>div:first-child>a {
    margin-right: 15px;
}

#nav>div:nth-child(3)>div>div:last-of-type {
    justify-content: space-between;
    width: 20%;
}

#nav div a>svg{
    fill: white;
}

/* scroll bar */
#scrollToTop {
    display: none;
}

#scrollToTop>svg {
    background-color: #f74600;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px grey;
    position: fixed;
    right: 15px;
    bottom: 15px;
}

#scrollToTop>svg:hover {
    background-color: #b43300;
    cursor: pointer;
}