* {
    font-family: sans-serif;
    margin: 0px;
}

#nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Tags universal*/
#nav>div>div,
#nav>div>div>div {
    display: flex;
    align-items: center;
}

#nav a {
    text-decoration: none;
}

/* anchor */
#nav>div:first-child a {
    color: grey;
}

#nav>div:nth-child(2) a {
    color: #575757;
}

#nav>div:last-of-type a {
    color: white;
}

#nav>div:last-of-type a:hover {
    color: yellow;
}

#nav a:hover svg[class="bi bi-pencil"]{
    fill:yellow;
}

/* div tags inside navbar specific*/
#nav>div:first-child>div:last-of-type {
    border-bottom: 1px solid #d3d3d3;
}

#nav>div:first-child>div:first-child {
    display: flex;
    justify-content: space-between;
    width: 63%;
    font-size: 12px;
    padding: 8px 10%;
    font-weight: bold;
}

#nav>div:nth-child(2)>div {
    display: flex;
    font-size: 27px;
    justify-content: center;
    gap: 3%;
}

#nav>div:last-of-type {
    display: flex;
    font-size: 14px;
    background-color: #a00606;
    justify-content: space-between;
}

#nav>div:nth-child(3)>div:first-child {
    justify-content: space-between;
    padding: 0px 10%;
    width: 100%;
}

#nav>div:nth-child(3)>div>div:first-child>a {
    margin-right: 15px;
}

#nav>div:nth-child(3)>div>div:last-of-type {
    justify-content: space-between;
    width: 20%;
}

#nav div a>svg {
    fill: white;
}

#nav div a>svg:hover {
    fill: yellow;
}

/* scroll bar */
#scrollToTop {
    display: block;
}

#scrollToTop>svg {
    background-color: #f74600;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px grey;
    position: fixed;
    right: 15px;
    bottom: 15px;
}

#scrollToTop>svg:hover {
    background-color: #b43300;
    cursor: pointer;
}

/* dropdown div section */

#dropDown{
    fill:white;
    stroke:white;
}
#dropDown:hover{
    fill:yellow;
    stroke:yellow;
    cursor: pointer;
}

#nav>span:first-of-type {
    position: relative;
    width: auto;
    /* padding: 0px 10%; */
}

#dropDownSec {
    display: none;
    justify-content: space-between;
    box-shadow: 0px 7px 10px 0px rgb(192, 192, 192);
    margin-top: 0px;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 2;
}

#dropDownSec>ul {
    list-style-type: none;
    width: 20%;
}

#dropDownSec>ul>li {
    font-size: 15px;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

#dropDownSec li a {
    color: grey;
}

#dropDownSec li a:hover {
    color: #a00606;
}

/* search box */
#searchA{
    position: relative;
}

#searchA:hover>#search{
    display: block;
}

#search{
    display:none;
    position: absolute;
    border-radius: 5px;
    right: 100%;
    bottom: -8px;
    height: auto;
    font: 17px;
    padding: 12px 5px;
    min-width: 200px;
    z-index: 1;
}

/* user details */

#profile{
    position: relative;
}

#userDetails{
    display: none;
    position:absolute;
    background-color: white;
    box-shadow: 0px 0px 10px 0px grey;
    border-radius: 10px;
    right: -10%;
    color: black;
    z-index: 2;
    padding: 10px;
    width: 250px;
    top: 105%;
    cursor:default;
}

#userDetails>h3{
    margin-bottom: 10px;
    text-align: center;
}

#userDetails>button{
    background-color: #a00606;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}

#userDetails>button:hover{
    box-shadow: 0px 0px 10px 0px grey;
    cursor: pointer;
}